In [46]:
import pandas as pd

In [24]:
import yahoofinancials as yf

# pip install yahoofinancials

In [28]:
amzn=yf.YahooFinancials('amzn')

In [ ]:
# do  amzn. and shift+tab to see your options

In [30]:
amzn.get_beta()

1.123

In [36]:
########### historical stock pricess
amzn_daily_stock_price=amzn.get_historical_price_data(start_date='2000-01-01', end_date='2019-12-31', time_interval='daily')

In [44]:
amzn_daily_stock_price["AMZN"]["prices"]

{'date': 946996200,
 'high': 91.5,
 'low': 81.75,
 'open': 85.375,
 'close': 81.9375,
 'volume': 17487400,
 'adjclose': 81.9375,
 'formatted_date': '2000-01-04'}

In [45]:
pd.DataFrame(amzn_daily_stock_price["AMZN"]["prices"])

,date,high,low,open,close,volume,adjclose,formatted_date
0,946909800,89.562500,79.046875,81.500000,89.375000,16117600,89.375000,2000-01-03
1,946996200,91.500000,81.750000,85.375000,81.937500,17487400,81.937500,2000-01-04
2,947082600,75.125000,68.000000,70.500000,69.750000,38457400,69.750000,2000-01-05
3,947169000,72.687500,64.000000,71.312500,65.562500,18752000,65.562500,2000-01-06
4,947255400,70.500000,66.187500,67.000000,69.562500,10505400,69.562500,2000-01-07
...,...,...,...,...,...,...,...,...
5025,1577111400,1793.000000,1784.510010,1788.260010,1793.000000,2136400,1793.000000,2019-12-23
5026,1577197800,1795.569946,1787.579956,1793.810059,1789.209961,881300,1789.209961,2019-12-24
5027,1577370600,1870.459961,1799.500000,1801.010010,1868.770020,6005400,1868.770020,2019-12-26
5028,1577457000,1901.400024,1866.010010,1882.920044,1869.800049,6186600,1869.800049,2019-12-27
5029,1577716200,1884.000000,1840.619995,1874.000000,1846.890015,3674700,1846.890015,2019-12-30

In [77]:
######### income statement
amzn_income_statement=amzn.get_financial_stmts("annual","income") 

# change income to balance or cash for other statements

In [78]:
amzn_income_statement.keys()

dict_keys(['incomeStatementHistory'])

In [79]:
amzn_income_statement["incomeStatementHistory"].keys()

dict_keys(['AMZN'])

In [80]:
amzn_income_statement["incomeStatementHistory"]["AMZN"][0]

{'2020-12-31': {'researchDevelopment': 42740000000,
  'effectOfAccountingCharges': None,
  'incomeBeforeTax': 24194000000,
  'minorityInterest': None,
  'netIncome': 21331000000,
  'sellingGeneralAdministrative': 87193000000,
  'grossProfit': 152757000000,
  'ebit': 22899000000,
  'operatingIncome': 22899000000,
  'otherOperatingExpenses': -75000000,
  'interestExpense': -1647000000,
  'extraordinaryItems': None,
  'nonRecurring': None,
  'otherItems': None,
  'incomeTaxExpense': 2863000000,
  'totalRevenue': 386064000000,
  'totalOperatingExpenses': 363165000000,
  'costOfRevenue': 233307000000,
  'totalOtherIncomeExpenseNet': 1295000000,
  'discontinuedOperations': None,
  'netIncomeFromContinuingOps': 21331000000,
  'netIncomeApplicableToCommonShares': 21331000000}}

In [81]:
pd.DataFrame(amzn_income_statement["incomeStatementHistory"]["AMZN"][0])

                                     2020-12-31
costOfRevenue                      2.333070e+11
discontinuedOperations                      NaN
ebit                               2.289900e+10
effectOfAccountingCharges                   NaN
extraordinaryItems                          NaN
grossProfit                        1.527570e+11
incomeBeforeTax                    2.419400e+10
incomeTaxExpense                   2.863000e+09
interestExpense                   -1.647000e+09
minorityInterest                            NaN
netIncome                          2.133100e+10
netIncomeApplicableToCommonShares  2.133100e+10
netIncomeFromContinuingOps         2.133100e+10
nonRecurring                                NaN
operatingIncome                    2.289900e+10
otherItems                                  NaN
otherOperatingExpenses            -7.500000e+07
researchDevelopment                4.274000e+10
sellingGeneralAdministrative       8.719300e+10
totalOperatingExpenses             3.631650e+11
totalOtherIncomeExpenseNet         1.295000e+09
totalRevenue                       3.860640e+11

In [82]:
# key statistics
pd.DataFrame(amzn.get_key_statistics_data())

                                       AMZN
52WeekChange                       0.397939
SandP52WeekChange                  0.436319
annualHoldingsTurnover                 None
annualReportExpenseRatio               None
beta                                  1.123
beta3Year                              None
bookValue                           185.694
category                               None
dateShortInterest                1618444800
earningsQuarterlyGrowth                1.21
enterpriseToEbitda                    36.09
enterpriseToRevenue                   4.501
enterpriseValue               1737730293760
fiveYearAverageReturn                  None
floatShares                       429706902
forwardEps                             66.2
forwardPE                         52.377384
fundFamily                             None
fundInceptionDate                         -
heldPercentInsiders                 0.14068
heldPercentInstitutions             0.58894
impliedSharesOutstanding               None
lastCapGain                            None
lastDividendDate                          -
lastDividendValue                      None
lastFiscalYearEnd                1609372800
lastSplitDate                    1999-09-02
lastSplitFactor                         2:1
legalType                              None
maxAge                                    1
morningStarOverallRating               None
morningStarRiskRating                  None
mostRecentQuarter                1609372800
netIncomeToCommon               21330999296
nextFiscalYearEnd                1672444800
pegRatio                               1.87
priceHint                                 2
priceToBook                       18.672562
priceToSalesTrailing12Months           None
profitMargins                       0.05525
revenueQuarterlyGrowth                 None
sharesOutstanding                 504116992
sharesPercentSharesOut               0.0114
sharesShort                         5755866
sharesShortPreviousMonthDate     2021-03-15
sharesShortPriorMonth               4680520
shortPercentOfFloat                  0.0133
shortRatio                             1.79
threeYearAverageReturn                 None
totalAssets                            None
trailingEps                           41.83
yield                                  None
ytdReturn                              None

In [ ]:
#######################################################################333

# now, let's try a differnet library

# pip install yfinance

In [83]:
import yfinance as yf2

In [85]:
amzn2=yf2.Ticker("amzn")

In [88]:
amzn2.history("5y") # interval = "1wk"   .... do shift+tab to see the options

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-04-29,666.000000,669.979980,654.000000,659.590027,10310700,0,0
2016-05-02,663.919983,685.500000,662.030029,683.849976,6578500,0,0
2016-05-03,677.359985,680.299988,670.429993,671.320007,4923400,0,0
2016-05-04,662.590027,674.000000,662.140015,670.900024,4635500,0,0
2016-05-05,673.309998,676.489990,656.000000,659.090027,4884100,0,0
...,...,...,...,...,...,...,...
2021-04-23,3319.100098,3375.000000,3308.500000,3340.879883,3192800,0,0
2021-04-26,3348.000000,3428.449951,3330.939941,3409.000000,4880700,0,0
2021-04-27,3443.469971,3460.000000,3398.010010,3417.429932,3827100,0,0
2021-04-28,3434.800049,3489.879883,3425.000000,3458.500000,4610200,0,0
2021-04-29,3505.098145,3514.445068,3435.000000,3475.500000,3317206,0,0

In [91]:
amzn2.get_financials()

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Research Development,42740000000.0,35931000000.0,28837000000.0,22620000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,24194000000.0,13962000000.0,11270000000.0,3802000000.0
Minority Interest,None,None,None,None
Net Income,21331000000.0,11588000000.0,10073000000.0,3033000000.0
Selling General Administrative,87193000000.0,64313000000.0,52177000000.0,38992000000.0
Gross Profit,152757000000.0,114986000000.0,93731000000.0,65932000000.0
Ebit,22899000000.0,14404000000.0,12421000000.0,4106000000.0
Operating Income,22899000000.0,14404000000.0,12421000000.0,4106000000.0
Other Operating Expenses,-75000000.0,338000000.0,296000000.0,214000000.0
Interest Expense,-1647000000.0,-1600000000.0,-1417000000.0,-848000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2863000000.0,2374000000.0,1197000000.0,769000000.0
Total Revenue,386064000000.0,280522000000.0,232887000000.0,177866000000.0
Total Operating Expenses,363165000000.0,266118000000.0,220466000000.0,173760000000.0
Cost Of Revenue,233307000000.0,165536000000.0,139156000000.0,111934000000.0
Total Other Income Expense Net,1295000000.0,-442000000.0,-1151000000.0,-304000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,21331000000.0,11588000000.0,10073000000.0,3033000000.0
Net Income Applicable To Common Shares,21331000000.0,11588000000.0,10073000000.0,3033000000.0

In [93]:
amzn2.get_balance_sheet()

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Intangible Assets,4.981000e+09,4.049000e+09,4.110000e+09,3.371000e+09
Capital Surplus,4.286500e+10,3.365800e+10,2.679100e+10,2.138900e+10
Total Liab,2.277910e+11,1.631880e+11,1.190990e+11,1.036010e+11
Total Stockholder Equity,9.340400e+10,6.206000e+10,4.354900e+10,2.770900e+10
Other Current Liab,1.526700e+10,1.220200e+10,9.959000e+09,8.565000e+09
Total Assets,3.211950e+11,2.252480e+11,1.626480e+11,1.313100e+11
Common Stock,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06
Other Current Assets,2.330000e+08,2.760000e+08,4.180000e+08,1.329000e+09
Retained Earnings,5.255100e+10,3.122000e+10,1.962500e+10,8.636000e+09
Other Liab,1.701700e+10,1.217100e+10,1.756300e+10,7.792000e+09
Good Will,1.501700e+10,1.475400e+10,1.454800e+10,1.335000e+10
Treasury Stock,-2.017000e+09,-2.823000e+09,-2.872000e+09,-2.321000e+09
Other Assets,1.209700e+10,1.009600e+10,6.370000e+09,5.085000e+09
Cash,4.212200e+10,3.609200e+10,3.175000e+10,2.052200e+10
Total Current Liabilities,1.263850e+11,8.781200e+10,6.839100e+10,5.788300e+10
Short Long Term Debt,1.155000e+09,1.305000e+09,1.371000e+09,1.000000e+08
Other Stockholder Equity,-1.800000e+08,-9.860000e+08,-1.035000e+09,-4.840000e+08
Property Plant Equipment,1.506670e+11,9.784600e+10,6.179700e+10,4.886600e+10
Total Current Assets,1.327330e+11,9.633400e+10,7.510100e+10,6.019700e+10
Long Term Investments,5.700000e+09,2.169000e+09,7.220000e+08,4.410000e+08
Net Tangible Assets,7.340600e+10,4.325700e+10,2.489100e+10,1.098800e+10
Short Term Investments,4.227400e+10,1.892900e+10,9.500000e+09,1.046400e+10
Net Receivables,2.430900e+10,2.054000e+10,1.625900e+10,1.183500e+10
Long Term Debt,3.181600e+10,2.341400e+10,2.349500e+10,2.474300e+10
Inventory,2.379500e+10,2.049700e+10,1.717400e+10,1.604700e+10
Accounts Payable,7.253900e+10,4.718300e+10,3.819200e+10,3.461600e+10

In [94]:
amzn2.get_cashflow()

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Investments,-2.224200e+10,-9.131000e+09,1.140000e+09,-3.054000e+09
Change To Liabilities,1.874500e+10,9.904000e+09,4.414000e+09,7.838000e+09
Total Cashflows From Investing Activities,-5.961100e+10,-2.428100e+10,-1.236900e+10,-2.708400e+10
Net Borrowings,-1.104000e+09,-1.006600e+10,-7.686000e+09,9.928000e+09
Total Cash From Financing Activities,-1.104000e+09,-1.006600e+10,-7.686000e+09,9.928000e+09
Change To Operating Activities,5.754000e+09,-1.383000e+09,4.720000e+08,2.830000e+08
Net Income,2.133100e+10,1.158800e+10,1.007300e+10,3.033000e+09
Change In Cash,5.967000e+09,4.237000e+09,1.031700e+10,1.922000e+09
Effect Of Exchange Rate,6.180000e+08,7.000000e+07,-3.510000e+08,7.130000e+08
Total Cash From Operating Activities,6.606400e+10,3.851400e+10,3.072300e+10,1.836500e+10
Depreciation,2.525100e+10,2.178900e+10,1.534100e+10,1.147800e+10
Change To Inventory,-2.849000e+09,-3.278000e+09,-1.314000e+09,-3.583000e+09
Change To Account Receivables,-8.169000e+09,-7.681000e+09,-4.615000e+09,-4.780000e+09
Change To Netincome,6.001000e+09,7.575000e+09,6.352000e+09,4.096000e+09
Capital Expenditures,-4.014000e+10,-1.686100e+10,-1.342700e+10,-1.195500e+10
Other Cashflows From Investing Activities,NaN,NaN,2.104000e+09,1.897000e+09

In [109]:
yf2.download("amzn aapl goog fb" , start='2000-01-01', end='2019-12-31' , group_by= 'tickers')

[*********************100%***********************]  4 of 4 completed

                    FB                                                  \
                  Open        High         Low       Close   Adj Close
Date
2000-01-03         NaN         NaN         NaN         NaN         NaN
2000-01-04         NaN         NaN         NaN         NaN         NaN
2000-01-05         NaN         NaN         NaN         NaN         NaN
2000-01-06         NaN         NaN         NaN         NaN         NaN
2000-01-07         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2019-12-23  206.699997  208.589996  205.679993  206.179993  206.179993
2019-12-24  206.300003  206.789993  205.000000  205.119995  205.119995
2019-12-26  205.570007  207.820007  205.309998  207.789993  207.789993
2019-12-27  208.669998  208.929993  206.589996  208.100006  208.100006
2019-12-30  207.860001  207.899994  203.899994  204.410004  204.410004

                               AMZN                                         \
                Volume         Open         High          Low        Close
Date
2000-01-03         NaN    81.500000    89.562500    79.046875    89.375000
2000-01-04         NaN    85.375000    91.500000    81.750000    81.937500
2000-01-05         NaN    70.500000    75.125000    68.000000    69.750000
2000-01-06         NaN    71.312500    72.687500    64.000000    65.562500
2000-01-07         NaN    67.000000    70.500000    66.187500    69.562500
...                ...          ...          ...          ...          ...
2019-12-23  13348900.0  1788.260010  1793.000000  1784.510010  1793.000000
2019-12-24   6046300.0  1793.810059  1795.569946  1787.579956  1789.209961
2019-12-26   9350700.0  1801.010010  1870.459961  1799.500000  1868.770020
2019-12-27  10284200.0  1882.920044  1901.400024  1866.010010  1869.800049
2019-12-30  10524300.0  1874.000000  1884.000000  1840.619995  1846.890015

            ...         GOOG                                            AAPL  \
            ...          Low        Close    Adj Close     Volume       Open
Date        ...
2000-01-03  ...          NaN          NaN          NaN        NaN   0.936384
2000-01-04  ...          NaN          NaN          NaN        NaN   0.966518
2000-01-05  ...          NaN          NaN          NaN        NaN   0.926339
2000-01-06  ...          NaN          NaN          NaN        NaN   0.947545
2000-01-07  ...          NaN          NaN          NaN        NaN   0.861607
...         ...          ...          ...          ...        ...        ...
2019-12-23  ...  1346.510010  1348.839966  1348.839966   883100.0  70.132500
2019-12-24  ...  1342.780029  1343.560059  1343.560059   347500.0  71.172501
2019-12-26  ...  1344.469971  1360.400024  1360.400024   667500.0  71.205002
2019-12-27  ...  1349.310059  1351.890015  1351.890015  1038400.0  72.779999
2019-12-30  ...  1334.020020  1336.140015  1336.140015  1050900.0  72.364998


                 High        Low      Close  Adj Close     Volume
Date
2000-01-03   1.004464   0.907924   0.999442   0.860883  535796800
2000-01-04   0.987723   0.903460   0.915179   0.788302  512377600
2000-01-05   0.987165   0.919643   0.928571   0.799837  778321600
2000-01-06   0.955357   0.848214   0.848214   0.730621  767972800
2000-01-07   0.901786   0.852679   0.888393   0.765229  460734400
...               ...        ...        ...        ...        ...
2019-12-23  71.062500  70.092499  71.000000  70.287064   98572000
2019-12-24  71.222504  70.730003  71.067497  70.353882   48478800
2019-12-26  72.495003  71.175003  72.477501  71.749733   93121200
2019-12-27  73.492500  72.029999  72.449997  71.722488  146266000
2019-12-30  73.172501  71.305000  72.879997  72.148178  144114400

[5030 rows x 24 columns]